<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KKMKGP3');</script>
    <!-- End Google Tag Manager -->
    
    {{! Document Settings }}
    <meta charset="utf-8">

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles - Foundation 5 included}}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    {{!-- styles for syntax highlighter you will find more here: https://github.com/isagalaev/highlight.js/tree/master/src/styles just change .min.css file name below --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Modernizr }}
    <script src="{{asset "js/vendor/modernizr.js"}}"></script>
</head>
<body class="{{body_class}}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKMKGP3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> "footer"}}

    {{! Document borders}}
    <div class="tborder"></div>
    <div class="rborder"></div>
    <div class="bborder"></div>
    <div class="lborder"></div>

    {{#if @blog.navigation}}
        {{navigation}}
    {{/if}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files }}
    <script type="text/javascript" src="{{asset "js/vendor/jquery-2.1.4.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/foundation.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/background-check.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/smoothscroll.js"}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset "js/abc.js"}}"></script>

</body>
</html>
